.invoice-page {
    background: #e9eef6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.invoice-card {
    width: 85%;
    max-width: 650px;
    background: white;
    padding: 35px;
    border-radius: 14px;
    border: 2px solid #d1d9e6;
    box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #0b2149;
}

.subtitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
    color: #4a5876;
}

.form-group label {
    font-weight: 600;
    font-size: 15px;
    color: #283550;
}

.form-group input {
    width: 100%;
    padding: 12px 13px;
    border: 1px solid #c4cada;
    border-radius: 8px;
    margin: 6px 0 18px;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #0b2149;
    box-shadow: 0 0 5px rgba(11,33,73,0.4);
}

.group-row {
    display: flex;
    gap: 15px;
}

.group-row .form-group {
    flex: 1;
}

.generate-btn {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #0b2149, #35579c);
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 8px;
}

.generate-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
